body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,76,0,1) 100%);
    width: 100%;
    font-family: 'Poppins',sans-serif;
}

.container {
    height: 945px;
    display: grid;
    grid-template-rows: 5fr 0.5fr;
    grid-template-areas:
        'main'
        'foot';
}

main {
    grid-area: main;
    display: grid;
    place-items: center;
}

.boxcard {
    height: 400px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-rows: 45% auto;
    grid-template-areas:
        'header'
        'data';
    background-color: rgba(255, 255, 255, 0.1);
}

.boxcard .header {
    background-color: rgba(36,0,0,1);
    display: grid;
    place-items: center;
}

.header img {
    border-radius: 50%;
}

.data {
    display: block;
    padding: 20px;
    color: white;
}

.boxcard:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    display: grid;
    place-items: center;
    color: rgba(255, 255, 255, 0.3);
}