body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,76,0,1) 100%);
    width: 100%;
    font-family: 'Poppins',sans-serif;
}

.container {
    display: grid;  
    grid-template-rows: 900px 1fr;
    grid-template-areas:
        'atas'
        'bawah';
}

main {
    grid-area: atas;
    display: grid;
    place-items: center;
}

.box {
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: rgba(255, 255, 255, .1);
    width: 300px;
    height: 100px;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    place-items: center;
    color: rgb(66, 66, 66);
    text-align: center;
}

footer {
    grid-area: bawah;
    display: grid;
    place-items: center;
}

.wrapper a, p {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.wrapper a:hover, p:hover {
    color: rgb(184, 92, 92);
}

.wrapper:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    animation: besar 500ms;
    transform: scale(1.05);
}

.copy a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

@keyframes besar {
    from {
        transform: scale(1);
    }

    to {
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        transform: scale(1.05);
    }
}