body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,76,0,1) 100%);
    width: 100%;
    font-family: 'Poppins',sans-serif;
}

.container {
    height: 940px;
    display: grid;
    grid-template-rows: 1fr 3fr 0.4fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
    display: grid;
    place-items: center;
    padding: 20px;
}

header img {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(192, 115, 115);
}

main {
    grid-area: main;
    display: grid;
    padding: 20px;
    justify-self: center;
}

th {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

tr {
    height: 50px;
}

.kil {
    border-bottom-left-radius: 5px;
}

.kal {
    border-bottom-right-radius: 5px;
}

td {
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
    transform: scale(1.02);
}

footer {
    grid-area: footer;
    display: grid;
    place-items: center;
    color: rgba(255, 255, 255, 0.3);
}

footer a.footer {
    color: rgba(255, 255, 255, 0.3);
}

@keyframes besar {
    from {
        transform: scale(1);
        background-color: rgba(255, 255, 255, 0.1);
    }

    to {
        transform: scale(1.02);
        background-color: rgba(255, 255, 255, 0.2);
    }
}